.wrapper {
  height: calc(100vh - var(--navbar-height));
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 40px 100px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
